.navbar-mobile{
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    /* display: none; */
    position: absolute;
    /* left: -999px; */
    top: -1500px;
    /* opacity: 0; */
    transition: top 1000ms, opacity 1000ms;
    z-index: 10;
}

.bar {
    display: block;
    background-color: black;
    width: 25px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    transition: transform 1000ms, background-color 1000ms;
}

.show-navbar {
    /* left: 0; */
    top: 100px;
    opacity: 1;
    display: block; 
}

#bt {
    padding: 15px;
    
}

.bar::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: var(--color-black);
    transition: transform 1000ms, top 1000ms;
}

.bar::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-black);
    transition: transform 1000ms, top 1000ms;
}

#bt.active .bar::after{
    transform: rotate(45deg);
    top: 0;
    background-color: var(--color-white);
}

#bt.active .bar::before{
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--color-white);
}

#bt.active .bar {
    transform: rotate(-180deg);
    background-color: transparent;
}

#bt.active.color-negro .bar::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--color-black);
}
#bt.active.color-negro .bar::after {
    transform: rotate(45deg);
    top: 0;
    background-color: var(--color-black);
}

.menu {
    width: 200px;
    margin: auto;
    padding-top: 5rem;
    text-align: center;
    display: grid;
    row-gap: 2rem;
}

.show-nav-flex {
    display: flex;
    background-color: var(--color-black);
    transition: background-color 1000ms;
}

.show-logo {
    display: none;
}

.white-color {
    background-color: var(--color-white);
}

.black-color {
    background-color: var(--color-black);
}


.luis {
    width: 100%;
    height: 2000px;
    background-color:blueviolet;
}

.container-switch-lenguaje {
    /* background-color: aqua; */
    width: 80px;
    height: 50px;
}

.switch-lenguaje {
    /* height: 200px; */
    background-color: var(--color-white);
    border-radius: 10px;
    position: relative;
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.4rem;

}

/* #bt-usa {
    display: none;
} */

#bt-usa {
    display: none;
}

.container-switch-lenguaje:hover #bt-usa {
    display: block;
}

.show-lenguage {
    display: block;
}

.not-show-lenguage {
    display: none;
}

.conta {
    height: 100%;
}

.container-login-destock {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-black); */
    background: rgba(0, 0, 0, 0.5);
    /* opacity: 0.8; */
    top: 0;
    z-index: 1000;
}

.bt-close-login {
    display: none;
}

@media (min-width: 961px) {
    .user-container {
        background-color: var(--color-white);
        width: 600px;
        padding: 4rem;
        margin: auto;
    }

    

    .bt-close-login {
        display: flex;
        text-align: center;
        /* padding: 1rem auto; */
        /* position: absolute; */
        /* z-index: 100000; */
        /* right: 0; */
        float: right;
        /* top: 10px; */
        color: var(--color-white);
        margin-top:  -10rem;
        font-size: 2.5rem;
        margin-right: -9rem;
        padding: 0.6rem 1rem;

        /* width: 4.8rem; */
        /* height: 4.8rem; */
        
        /* font-weight: 900; */
        /* margin-top: -200px; */
    }

}






