.navbar{
    width: 100%;
    padding: 5rem 2rem 2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    transition: background-color 1000ms;
    position: relative;
    z-index: 2001;
}

.navbar__destock {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.navbar__destock-ul-1 {
    display: flex;
    column-gap: 2rem;
    margin-left: 6rem;
    font-size: 1.6rem;

}

.navbar__destock-ul-2 {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__logo-img{
    width: 15rem;
}

.navbar__logo-img span{
    position:absolute;
    left: -9999px;
}

.navbar__dropdown{
    position: absolute;
    right: 2rem;
    top: 4.7rem;
    
}

.dropdown__active{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    align-items: flex-start;
    display: none;
    overflow: scroll;
}

.dropdown__active-bg{
    width: 100%;
    background-color: var(--color-black);
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

}

.ul-lenguage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.ul-lenguage img {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: -0.4rem;
}


.navbar-mobile{
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    position: absolute;
    top: -1500px;
    transition: top 1000ms, opacity 1000ms;
    z-index: 10;
}

.bar {
    display: block;
    background-color: black;
    width: 25px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    transition: transform 1000ms, background-color 1000ms;
}

.show-navbar {
    top: 100px;
    opacity: 1;
    display: block; 
}

#bt {
    padding: 15px;
}

.bar::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: var(--color-black);
    transition: transform 1000ms, top 1000ms;
}

.bar::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-black);
    transition: transform 1000ms, top 1000ms;
}

#bt.active .bar::after{
    transform: rotate(45deg);
    top: 0;
    background-color: var(--color-white);
}

#bt.active .bar::before{
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--color-white);
}

#bt.active .bar {
    transform: rotate(-180deg);
    background-color: transparent;
}

#bt.active.color-negro .bar::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--color-black);
}

#bt.active.color-negro .bar::after {
    transform: rotate(45deg);
    top: 0;
    background-color: var(--color-black);
}

.menu {
    width: 200px;
    margin: auto;
    padding-top: 5rem;
    text-align: center;
    display: grid;
    row-gap: 2rem;
}

.show-nav-flex {
    display: flex;
    background-color: var(--color-black);
    transition: background-color 1000ms;
}

.show-logo {
    display: none;
}

.white-color {
    background-color: var(--color-white);
}

.black-color {
    background-color: var(--color-black);
}

.container-switch-lenguaje {
    width: 80px;
    height: 50px;
}

.switch-lenguaje {
    background-color: var(--color-white);
    border-radius: 10px;
    position: relative;
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
}

.switch-lenguaje img {
    height: 10px;
    width: 10px;
}

#bt-usa {
    display: none;
}

.container-switch-lenguaje:hover #bt-usa {
    display: flex;
}

.show-lenguage {
    display: block;
}

.not-show-lenguage {
    display: none;
}

.login{
    position: absolute;
    background: var(--color-white);
    width: 100%;
    height: 100%;
    top: -1500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: top 1000ms, opacity 1000ms;
    z-index: 100;
}

.show{
    top: 100px;
    display: block;
}

.user-container {
    width: 100%;
    margin-top: 5rem;

}

.user-c {
    width: 80%;
    background-color: white;
    margin: auto;
}

.login__info ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__create {
    display: none;
}

.login__create ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__active{
    width: 100%;
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    height: 100%;
}

.show-flex{
    display: block;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.password-container-no-view {
    display: none;
    justify-content: center;
    align-items: center;
}

.container-login-destock {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
}

.bt-close-login {
    display: none;
}

.change-password {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 8rem 4rem;
    z-index: 400000;
}

.show-password{
    display: block;
}

.back {
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.back button {
    color: var(--color-blue);

}


@media (min-width: 481px) and (max-width: 768px) {
    .login__ {
        width: 100%;
    }
}


@media (min-width: 961px) {
    .navbar {
        padding: 1rem 3rem;
        justify-content:left
    }

    .navbar__dropdown {
        display: none;
    }

    .navbar__logo-img {
        width: 12rem;
        padding: 0.5rem;
    }

    .navbar__destock{
        display: flex;
    }

    .user-container {
        position: relative;
        background-color: var(--color-white);
        width: 600px;
        padding: 4rem;
        margin: auto;
    }

    .change-password {
        display: none;
        position: absolute;
        background-color: var(--color-white);
        width: 600px;
        height: 100%;
        top: 0;
        left: 0;
        padding: 8rem 10rem;
        z-index: 400000;
    }

    .show-password{
        display: block;
    }

    .back {
        font-size: 2rem;
        font-weight: 900;
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    .back button {
        color: var(--color-blue);
    }

    .bt-close-login {
        display: flex;
        text-align: center;
        float: right;
        color: var(--color-white);
        margin-top:  -10rem;
        font-size: 2.5rem;
        margin-right: -9rem;
        padding: 0.6rem 1rem;
    }

    .login {
        top: 0;
        display: none;
    }

    .show{
        top: 0px;
        z-index: 2002;
        background-color: rgba(0,0,0,0.8);
        display: flex;
    }
}






