.contact-section {
    width: 100%;
    padding: 5rem 2rem 2rem 2rem;
}

.form-contact{
    width: 100%;
    font-size: 1.6rem;
    display: grid;
    gap: 1rem;
}

.no-margin{
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 3rem;
}

.form-contact input{
    width: 100%;
    background-color: var(--color-light-blue-2);
    outline: solid transparent 0.02rem;
    padding: 1em;
    width: 100%;
    font-size: 1.6rem;
    display: block;
}

.form-contact textarea{
    background-color: var(--color-light-blue-2);
    padding: 1rem;
    width: 100%;
}

.form-contact textarea, input::placeholder{
    font-size: 1.4rem;
}

.form-contact input:focus{
    outline: solid var(--color-blue) 0.02rem;
}

.bt-form-container {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.container-input {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container-textarea {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* .margin-top-sub-2 {
    margin-top: -2rem;
} */

@media (min-width: 961px) {
    .container-input {
        display: grid;
        row-gap: 1rem;
        width: 45%;
    }

    .container-textarea {
        display: grid;
        row-gap: 1rem;
        width: 45%;
        height: 15rem;
    }

    .to-flex {
        display: flex;
        width: 70%;
        margin: auto;
        column-gap: 4rem;
        flex-wrap: wrap;
    }

    .media-w{
        width: 45%;
        margin-top: 7rem;
        margin-left: -7rem;
    }

    .login__info ul{
        font-size: 1.6rem;
    }
}