.main p{
    font-size: 1.6rem;
}
.main {
    margin-bottom: 5rem;
}

.navbar{
    width: 100%;
    padding: 5rem 2rem 2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    transition: background-color 400ms;
    position: relative;
    z-index: 100;
}

.h1-logo{
    display: none;
}

.navbar__logo-img{
    width: 15rem;
}

.navbar__logo-img span{
    position:absolute;
    left: -9999px;
}

.navbar__dropdown{
    /* font-size: 2.5rem; */
    position: absolute;
    right: 2rem;
    top: 4.7rem;
    
}

.dropdown__active{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    align-items: flex-start;
    display: none;
    overflow: scroll;
}

.dropdown__active-bg{
    width: 100%;
    background-color: var(--color-black);
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

}

.ul-lenguage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.ul-lenguage img {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: -0.4rem;
}

/* LOGIN */
.login{
    position: absolute;
    background: var(--color-white);
    width: 100%;
    height: 100%;
    top: -2000px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* z-index: 200; */
    /* align-items: flex-start; */
    /* display: none; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: top 1000ms, opacity 1000ms;
}

.show{
    top: 0px;
    display: block;
}

.user-container {
    /* background-color: aqua; */
    width: 100%;
    margin-top: 5rem;
    /* height: 100%; */

}

.user-c {
    width: 80%;
    /* padding: 0 5rem 0 5rem; */
    /* height: 100%; */
    background-color: white;
    margin: auto;
}

.login__info ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__create {
    display: none;
}

.login__create ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__active{
    width: 100%;
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    height: 100%;
}

.show-flex{
    display: block;
}


.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.password-container-no-view {
    display: none;
    justify-content: center;
    align-items: center;
}

.welcome__description{
    background-color: var(--color-light-blue-1);
    position: absolute;
    right: 0;
    width: 28rem;
    color: var(--color-gray-banner);
    /* font-size: 1.4rem; */
    padding: 1.2rem;
    margin-top: -6.2rem;
    border-radius: 1rem 0 0 1rem;
}


.funds{
    margin: 2rem 2rem;
}
.funds h2 {
    margin: 6rem 0 2rem 0;
    font-size:2rem;
    font-weight: 900;
    color: var(--color-gray-banner);
}

.funds h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--color-gray-banner);

}

.funds ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* font-size: 1.5rem; */
}

.funds__asset{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.asset__graph {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset__graph p {
    margin-top: 1rem;
}

.asset__rent {
    width: 100%;

}

.asset__rent label {
    position: relative;
    top: 0.3rem;
    font-size: 1.4rem;
    font-weight: 900;
}

.rent__head{
    display: flex;
    column-gap: 1rem;
}

.rent__table {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.rent__table table{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5rem;
    margin: auto;
}

.rent__table th{
    background-color: var(--color-light-blue-2);
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align:middle;
    row-gap: 1rem;
    padding: 1rem;
}

.rent__table td{
    padding: 1rem;
    font-size: 1.5rem;
}

.rent__table td:nth-child(even){
    background-color: var(--color-gray-table);
}



/* 
.show-login{

} */

.not-show{
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
/* bloquear el menu */
/* html, body {margin: 0; height: 100%; overflow: hidden} */

.preventscroll{
    position: fixed;
    overflow-y:scroll;
    height: 100%;
    width: 100%;
}








@media (min-width: 481px) and (max-width: 768px) {
    .welcome__description {
        width: 44rem;
    }

    .asset__graph {
        width: 80%; 
    }

    .login__ {
        width: 100%;
        /* width: 400px; */
    }
}
@media (min-width: 769px) and (max-width: 960px) {
    .welcome__description {
        width: 60rem;
        margin-top: -4.5rem;
    }

    .asset__graph {
        width: 70%; 
    }

    .rent__table table{
        width: 80%;
    }
}



