.main p{
    font-size: 1.6rem;
}

.navbar{
    width: 100%;
    padding: 5rem 2rem 2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-logo{
    display: none;
}

.navbar__logo-img{
    width: 15rem;
}

.navbar__logo-img span{
    position:absolute;
    left: -9999px;
}

.navbar__dropdown{
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 5.5rem;
    
}

.dropdown__active{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    align-items: flex-start;
    display: none;
}


.dropdown__active-bg{
    width: 100%;
    background-color: var(--color-black);
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

}

.ul-lenguage {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.ul-lenguage img {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: -0.4rem;
}

/* LOGIN */
.login{
    position: absolute;
    background: var(--color-white);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 200;
    align-items: flex-start;
    display: none;
    font-size: 1.5rem;
}

.login__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.login__info ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__create {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}

.show-flex{
    display: flex;
}

.login__create ul{
    display: flex;
    width: 100%;
    column-gap: 1rem;
}

.login__active{
    width: 100%;
    background-color: var(--color-black);
    padding: 5rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    height: 100%;

}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}





.welcome__description{
    background-color: var(--color-light-blue-1);
    position: absolute;
    right: 0;
    width: 28rem;
    color: var(--color-gray-banner);
    /* font-size: 1.4rem; */
    padding: 1.2rem;
    margin-top: -6.2rem;
    border-radius: 1rem 0 0 1rem;
}

.founds{
    margin: 2rem 2rem;
}
.founds h2 {
    margin: 6rem 0 2rem 0;
    font-size:2rem;
    font-weight: 900;
    color: var(--color-gray-banner);
}

.founds h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--color-gray-banner);

}

.founds ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* font-size: 1.5rem; */
}

.founds__asset{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}


.asset__graph p {
    margin-top: 1rem;
}

.asset__rent label {
    position: relative;
    top: 0.3rem;
    font-size: 1.4rem;
    font-weight: 900;
}

.rent__head{
    display: flex;
    column-gap: 1rem;
}

.rent__table {
    display: flex;
    align-items: center;
}

.rent__table table{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.5rem;
    margin-top: 1rem;
}

.rent__table th{
    background-color: var(--color-light-blue-2);
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align:middle;
    row-gap: 1rem;
    padding: 1rem;
}

.rent__table td{
    padding: 1rem;
    font-size: 1.5rem;
}

.rent__table td:nth-child(even){
    background-color: var(--color-gray-table);
}


.show{
    display: block;
}

.not-show{
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
/* bloquear el menu */
/* html, body {margin: 0; height: 100%; overflow: hidden} */



.preventscroll{
    position: fixed;
    overflow-y:scroll;
}




