.info {
    width: 100%;
    padding: 5rem 2rem 2rem 2rem;
}

.info__form{
    width: 100%;
    font-size: 1.6rem;
    display: grid;
    gap: 1rem;
}

.no-margin{
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 3rem;
}

.info__form input{
    width: 100%;
    background-color: var(--color-light-blue-2);
    padding: 1em;
    width: 100%;
    font-size: 1em;
    display: block;
}

.info__form textarea{
    background-color: var(--color-light-blue-2);
    padding: 1rem;
    width: 100%;
}

.info__form textarea, input::placeholder{
    font-size: 1.4rem;
}

.bt-form-container {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}


