.asset__benchmark p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.benchmark__table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem;
    margin-top: 1rem;
}

.benchmark__table td{
    font-size: 1.5rem;
    vertical-align:middle;
    row-gap: 1rem;
    padding: 1rem;
}

.benchmark__table td:nth-child(odd){
    background-color: var(--color-light-blue-2);
}

.asset__fund {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.fund__table{
    margin: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem;
    margin-top: 1rem;
}

.fund__table th{
    font-size: 1.5rem;
    vertical-align:middle;
    row-gap: 1rem;
    padding: 1rem;
}
.fund__table td{
    padding: 1rem;
    font-size: 1.5rem;
}

.fund__table tr:nth-child(even){
    background-color: var(--color-gray-table);
}


@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width: 769px) and (max-width: 960px) {
    .fund__table {
        width: 80%;
    }

    /* .fund__table table{
        width: 100%;
    } */
}

@media (min-width: 961px) {

    .asset__description {
        margin: 2rem 8rem;
    }



}
